* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 5vmin;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2.5rem;
	color: #fff;
}

#h2 {
	margin: 0 auto 60px;
	color: #fff;
}

h2 {
	margin: 0 auto;
	font-size: 1.5rem;
	text-align: center;
	width: max-content;
	color: #fff;
	border-bottom: 0.2rem solid;
}

p {
	font-size: 1rem;
}

/* Header navigation */
#navbar {
	position: fixed;
	width: 100%;
	height: 120px;
	background: transparent;
	z-index: 1;
}

header {
	height: 50px;
	background: #fff;
}

#navbar50 {
	width: 50%;
	height: 100%;
	margin-left: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background: #fff;
}

.href {
	height: 1em;
}

.href a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #d6534c;
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
	letter-spacing: 3px;
	font-family: 'Federant', cursive;
	line-height: 1em;
}

svg {
	width: 100%;
	height: 70px;
	background: transparent;
}

/* section 1 */
#welcome-section {
	height: 100vh;
	background: #82d14a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#welcome-section p {
	font-style: italic;
}

/* section 2 */
#projects {
	background: #4ab6d1;
	width: 100%;
	padding: 100px 20px;
}

#projects-grid {
	width: 90%;
	margin: 0 auto;
}

.projects-grid-item {
	height: 70vh;
	margin-bottom: 3vh;
	border-radius: 10px;
}

.showcase {
	display: flex;
	height: 50vh;
}

#p10 .card {
	width: 100%;
}

#p11 {
	background: url('../img/mywork11.jpeg') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#todo-list {
	background: url('../img/todo-list.png') no-repeat center;
	background-size: contain;
}

#p9 {
	background: url('../img/mywork8.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

.card {
	width: 50%;
	height: 100%;
	margin: 0 10px;
	border-radius: 10px;
}

#snake {
	background: url('../img/snake.png') no-repeat center;
	background-size: contain;
}

#ajax-table {
	background: url('../img/ajax-table.png') no-repeat center;
	background-size: contain;
}

#p7 {
	background: url('../img/mywork7.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#p6 {
	background: url('../img/mywork6.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#p5 {
	background: url('../img/bootstrap.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#p4 {
	background: url('../img/mywork4.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#p3 {
	background: url('../img/mywork3.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#p2 {
	background: url('../img/mywork2.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

#p1 {
	background: url('../img/mywork1.png') no-repeat center;
	background-size: contain;
	background-attachment: fixed;
}

.project-tile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.project-tile:hover {
	background: rgba(0, 0, 0, 0.4);
}

.project-tile:hover .project-title {
	opacity: 1;
	transition: all 0.4s linear;
}

.project-tile:hover .code {
	opacity: 1;
	transition: all 0.8s linear;
}

.project-title {
	opacity: 0;
	background: #202020;
	color: #fff;
	border-radius: 5px;
	transition: all 0.4s linear;
}

.code {
	color: #f1a423;
	opacity: 0;
}

/* section 3 */
#contact {
	background: #d6534c;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
}

#contact h2 {
	border: none;
	margin: 20px auto 40px;
}

#contact-links {
	border-top: 0.2rem solid;
	color: #fff;
	padding: 40px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#profile-link {
	text-align: center;
	padding-bottom: 40px;
	color: #fff;
	line-height: 1em;
	width: max-content;
	margin: 0 auto;
}

#contact p {
	line-height: 1em;
	font-size: 0.5em;
	width: max-content;
	display: block;
	position: absolute;
	right: 2%;
	bottom: 5%;
}

.btn,
#profile-link {
	font-weight: bold;
	letter-spacing: 0.5px;
}

.btn {
	color: #fff;
	padding: 10px 20px;
	transition: all 0.05s linear;
}

.btn:hover,
#profile-link:hover {
	color: #000;
	transform: translateY(8px);
	transition: all 0.05s linear;
}

@media (min-height: 730px) {
	header {
		height: 60px;
	}

	.href a {
		font-size: 0.9rem;
	}
}

@media (max-width: 1300px) {
	#contact-links {
		flex-wrap: wrap;
	}

	#p9 {
		background: url('../img/mywork8-1280.png') no-repeat center;
		background-size: contain;
	}

	#p7 {
		background: url('../img/mywork7-1280.png') no-repeat center;
		background-size: contain;
	}

	#p6 {
		background: url('../img/mywork6-1280.png') no-repeat center;
		background-size: contain;
	}

	#p5 {
		background: url('../img/bootstrap-1280.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p4 {
		background: url('../img/mywork4-1280.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p3 {
		background: url('../img/mywork3-1280.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p2 {
		background: url('../img/mywork2-1280.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p1 {
		background: url('../img/mywork1-1280.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}
}

@media (max-width: 954px) {
	#projects-grid {
		width: 100%;
	}

	#p8 {
		height: 80vh;
	}

	#p9 {
		background: url('../img/mywork8-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p7 {
		background: url('../img/mywork7-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p6 {
		background: url('../img/mywork6-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p5 {
		background: url('../img/bootstrap-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p4 {
		background: url('../img/mywork4-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p3 {
		background: url('../img/mywork3-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p2 {
		background: url('../img/mywork2-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p1 {
		background: url('../img/mywork1-800.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}
}

@media (max-width: 800px) {
	#p8 {
		display: flex;
		flex-direction: column;
	}

	.card {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.card:nth-child(1) {
		margin-bottom: 10px;
	}

	#h2 {
		width: 70%;
	}

	h2 {
		width: 100%;
	}

	.href a {
		font-size: 0.9rem;
	}

	svg {
		height: 43px;
	}
}

@media (max-width: 600px) {
	#navbar {
		height: 50px;
	}

	#navbar50 {
		width: 100%;
		height: 100%;
		margin-left: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#navbar::before {
		height: 0;
		opacity: 0;
	}

	#navbar::after {
		height: 0;
		opacity: 0;
	}

	#projects {
		padding: 50px 20px;
	}

	.href a {
		font-size: 25px;
	}

	svg {
		display: none;
	}

	#p9 {
		background: url('../img/mywork8-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p7 {
		background: url('../img/mywork7-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p6 {
		background: url('../img/mywork6-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p5 {
		background: url('../img/bootstrap-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p4 {
		background: url('../img/mywork4-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p3 {
		background: url('../img/mywork3-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p2 {
		background: url('../img/mywork2-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}

	#p1 {
		background: url('../img/mywork1-600.png') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
	}
}

@media (max-width: 450px) {
	#projects img {
		height: auto;
	}

	#profile-link {
		padding-bottom: 30px;
	}

	.project-title {
		text-align: center;
	}

	#p {
		height: 60px;
	}

	#contact p {
		font-size: 0.7em;
	}
}

@media (max-width: 350px) {
	#h2 {
		width: 75%;
		margin: 0 auto 30px;
	}

	.href a {
		font-size: 20px;
	}
}

/*
#82d14a
#4ab6d1
#d6534c
*/
