.list {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.list.little {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.list.many {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list.line {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-height: 460px;
  overflow-x: hidden;
}

.list.line .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list.line .item * {
  font-size: 25px;
}

.list.line .item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list.line .item .buttons .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list .item {
  background: #F4B8BF;
  padding: 20px;
}

.list .item .img {
  min-height: 100px;
  min-width: 100px;
  background: rgba(128, 128, 128, 0.767);
}

.list .item .buttons {
  min-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list .item .buttons .favorite .fa {
  display: none;
}

.list .item .buttons .favorite .fa.active {
  display: inline-block;
}

.list .item .buttons .counter {
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list .item .buttons .order i {
  display: inline-block;
  width: 26px;
  height: 22px;
}

.list .item .buttons .order .fa-shopping-basket {
  font-size: 22px;
}

.list:not(.line) .item .fa {
  font-size: 25px;
}

.list:not(.line) .item p {
  display: inline-block;
  font-size: 25px;
  color: #000;
}

.list:not(.line) .item .img {
  width: 100%;
  height: 200px;
  background: rgba(128, 128, 128, 0.767);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=ItemsList.css.map */