@import '../../variables.scss';

.list {
	display: grid;
	grid-gap: 20px;

	&.little {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.many {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&.line {
		grid-template-columns: 1fr;
		max-height: 460px;
		overflow-x: hidden;

		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;

			* {
				font-size: 25px;
			}

			.buttons {
				display: flex;

				.order {
					display: flex;
				}
			}
		}
	}

	.item {
		background: $main_pink;
		padding: 20px;

		.img {
			min-height: 100px;
			min-width: 100px;
			background: rgba(128, 128, 128, 0.767);
		}

		.buttons {
			min-width: 160px;

			display: flex;
			justify-content: space-between;

			.favorite {
				.fa {
					display: none;

					&.active {
						display: inline-block;
					}
				}
			}

			.counter {
				margin: 0 10px;
				user-select: none;
			}

			.order {
				i {
					display: inline-block;
					width: 26px;
					height: 22px;
				}

				.fa-shopping-basket {
					font-size: 22px;
				}
			}
		}
	}

	&:not(.line) {
		.item {
			.fa {
				font-size: 25px;
			}

			p {
				display: inline-block;
				font-size: 25px;
				color: #000;
			}

			.img {
				width: 100%;
				height: 200px;
				background: rgba(128, 128, 128, 0.767);
				margin-bottom: 20px;

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}