@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Sans&family=Zilla+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.5px;
}

.r5 {
  border-radius: 5px;
}

.r10 {
  border-radius: 10px;
}

.fa {
  text-align: center;
}

.hover:hover {
  fill: #000 !important;
  color: #000 !important;
  cursor: pointer;
}

.hover:hover > * {
  fill: #000 !important;
  color: #000 !important;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .scroll {
    /* width */
    /* Handle */
    /* Handle on hover */
    /* Track */
  }
  .scroll:not(body) {
    padding-right: 10px;
  }
  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: #ff8b01;
    border-radius: 5px;
  }
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #ff8b01;
  }
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1279px) {
  .container {
    max-width: 1000px;
  }
}

main {
  margin-top: calc(80px + 20px);
  margin-bottom: 20px;
}

main .container {
  background: #93ABB4;
}
/*# sourceMappingURL=App.css.map */